body{
  padding: 0;
  margin: 0;
  background-color: #12243C !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-Container{
  padding: 0 !important;
  margin: 0 !important;
}
.App-Nav-Text{
  font-weight: bold;
  font-size: 25px;
  color: white !important;
}
.App-Nav-Item{

}
.App-Nav-List{

}
.App-NavBar{
  background-color: #242D3F !important;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.App-Nav-Div-Right{
  width: 100%;
  text-align: right;
}


.text-left{
  text-align: left;
}
